@* @{
    ViewData["Title"] = "Home Page";
} *@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>DC Bank</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div id="header">
        COMP3008 Assignment
    </div>

    @* <div id="navigation">
        <ul>
            <li> <button type="button" id="LoginButton" onclick="loadView()">Login</button></li>
            <li> <button type="button" id="AboutButton" onclick="loadView('login', 'admin')">Admin</button></li>
            <li> <button type="button" id="LogoutButton" onclick="loadView('login', 'user')">User</button></li>
        </ul>
    </div> *@

    <div id="main">
    </div>

    <div id="footer">
        COMP3008 Assignment 2
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>